soap-web-service/soap-client/soap-ws-clients-wsimport/src/com/soap/client/mobilewebservice/Mobile.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://webservice.service.soap.com/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://webservice.service.soap.com/"
	name="MobileWebService">
	<types>
		<xsd:schema>
			<xsd:import
				namespace="http://webservice.service.soap.com/"
				schemaLocation="Mobile-1.xsd"></xsd:import>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://custom.namespace.com"
				schemaLocation="Mobile-2.xsd"></xsd:import>
		</xsd:schema>
	</types>
	<message name="throw">
		<part name="parameters" element="tns:throw"></part>
	</message>
	<message name="throwResponse">
		<part name="parameters" element="tns:throwResponse"></part>
	</message>
	<message name="MobileSubscriptionException">
		<part name="fault" element="tns:MobileException"></part>
	</message>
	<message name="createSubscriber">
		<part name="parameters" element="tns:createSubscriber"></part>
	</message>
	<message name="createSubscriberResponse">
		<part name="parameters" element="tns:createSubscriberResponse"></part>
	</message>
	<message name="createSubscriberSecure">
		<part name="parameters" element="tns:createSubscriberSecure"></part>
		<part name="Credentials" element="tns:Credentials"></part>
	</message>
	<message name="createSubscriberSecureResponse">
		<part name="result" element="tns:createSubscriberSecureResponse"></part>
	</message>
	<message name="SecurityException">
		<part name="fault" element="tns:SecurityException"></part>
	</message>
	<message name="getDummySubscriber">
		<part name="parameters" element="tns:getDummySubscriber"></part>
	</message>
	<message name="getDummySubscriberResponse">
		<part name="parameters" element="tns:getDummySubscriberResponse"></part>
	</message>
	<message name="getAllSubscribers">
		<part name="parameters" element="tns:getAllSubscribers"></part>
	</message>
	<message name="getAllSubscribersResponse">
		<part name="parameters" element="tns:getAllSubscribersResponse"></part>
	</message>
	<message name="findSubscriber">
		<part name="parameters" element="tns:findSubscriber"></part>
	</message>
	<message name="findSubscriberResponse">
		<part name="parameters" element="tns:findSubscriberResponse"></part>
	</message>
	<message name="getSecureToken">
		<part name="parameters" element="tns:getSecureToken"></part>
		<part name="username" element="tns:username"></part>
		<part name="password" element="tns:password"></part>
	</message>
	<message name="getSecureTokenResponse">
		<part name="result" element="tns:getSecureTokenResponse"></part>
		<part name="username" element="tns:username"></part>
		<part name="tokenvalue" element="tns:tokenvalue"></part>
	</message>
	<message name="deleteSubscriber">
		<part name="parameters" element="tns:deleteSubscriber"></part>
	</message>
	<message name="deleteSubscriberResponse">
		<part name="parameters" element="tns:deleteSubscriberResponse"></part>
	</message>
	<message name="countAsync">
		<part name="parameters" element="tns:countAsync"></part>
	</message>
	<message name="greet">
		<part name="parameters" element="tns:greet"></part>
	</message>
	<message name="greetResponse">
		<part name="parameters" element="tns:greetResponse"></part>
	</message>
	<message name="greetUser">
		<part name="parameters" element="tns:greetUser"></part>
	</message>
	<message name="greetUserResponse">
		<part name="parameters" element="tns:greetUserResponse"></part>
	</message>
	<portType name="MobileService">
		<operation name="throw">
			<input
				wsam:Action="http://webservice.service.soap.com/MobileService/throwRequest"
				message="tns:throw"></input>
			<output
				wsam:Action="http://webservice.service.soap.com/MobileService/throwResponse"
				message="tns:throwResponse"></output>
			<fault message="tns:MobileSubscriptionException"
				name="MobileSubscriptionException"
				wsam:Action="http://webservice.service.soap.com/MobileService/throw/Fault/MobileSubscriptionException"></fault>
		</operation>
		<operation name="createSubscriber">
			<input
				wsam:Action="http://webservice.service.soap.com/MobileService/createSubscriberRequest"
				message="tns:createSubscriber"></input>
			<output
				wsam:Action="http://webservice.service.soap.com/MobileService/createSubscriberResponse"
				message="tns:createSubscriberResponse"></output>
			<fault message="tns:MobileSubscriptionException"
				name="MobileSubscriptionException"
				wsam:Action="http://webservice.service.soap.com/MobileService/createSubscriber/Fault/MobileSubscriptionException"></fault>
		</operation>
		<operation name="createSubscriberSecure"
			parameterOrder="parameters Credentials">
			<input
				wsam:Action="http://webservice.service.soap.com/MobileService/createSubscriberSecureRequest"
				message="tns:createSubscriberSecure"></input>
			<output
				wsam:Action="http://webservice.service.soap.com/MobileService/createSubscriberSecureResponse"
				message="tns:createSubscriberSecureResponse"></output>
			<fault message="tns:MobileSubscriptionException"
				name="MobileSubscriptionException"
				wsam:Action="http://webservice.service.soap.com/MobileService/createSubscriberSecure/Fault/MobileSubscriptionException"></fault>
			<fault message="tns:SecurityException" name="SecurityException"
				wsam:Action="http://webservice.service.soap.com/MobileService/createSubscriberSecure/Fault/SecurityException"></fault>
		</operation>
		<operation name="getDummySubscriber">
			<input
				wsam:Action="http://webservice.service.soap.com/MobileService/getDummySubscriberRequest"
				message="tns:getDummySubscriber"></input>
			<output
				wsam:Action="http://webservice.service.soap.com/MobileService/getDummySubscriberResponse"
				message="tns:getDummySubscriberResponse"></output>
		</operation>
		<operation name="getAllSubscribers">
			<input
				wsam:Action="http://webservice.service.soap.com/MobileService/getAllSubscribersRequest"
				message="tns:getAllSubscribers"></input>
			<output
				wsam:Action="http://webservice.service.soap.com/MobileService/getAllSubscribersResponse"
				message="tns:getAllSubscribersResponse"></output>
		</operation>
		<operation name="findSubscriber">
			<input
				wsam:Action="http://webservice.service.soap.com/MobileService/findSubscriberRequest"
				message="tns:findSubscriber"></input>
			<output
				wsam:Action="http://webservice.service.soap.com/MobileService/findSubscriberResponse"
				message="tns:findSubscriberResponse"></output>
		</operation>
		<operation name="getSecureToken"
			parameterOrder="parameters username password tokenvalue">
			<input
				wsam:Action="http://webservice.service.soap.com/MobileService/getSecureTokenRequest"
				message="tns:getSecureToken"></input>
			<output
				wsam:Action="http://webservice.service.soap.com/MobileService/getSecureTokenResponse"
				message="tns:getSecureTokenResponse"></output>
		</operation>
		<operation name="deleteSubscriber">
			<input wsam:Action="delete" message="tns:deleteSubscriber"></input>
			<output
				wsam:Action="http://webservice.service.soap.com/MobileService/deleteSubscriberResponse"
				message="tns:deleteSubscriberResponse"></output>
		</operation>
		<operation name="countAsync">
			<input
				wsam:Action="http://webservice.service.soap.com/MobileService/countAsync"
				message="tns:countAsync"></input>
		</operation>
		<operation name="greet">
			<input
				wsam:Action="http://webservice.service.soap.com/MobileService/greetRequest"
				message="tns:greet"></input>
			<output
				wsam:Action="http://webservice.service.soap.com/MobileService/greetResponse"
				message="tns:greetResponse"></output>
		</operation>
		<operation name="greetUser">
			<input
				wsam:Action="http://webservice.service.soap.com/MobileService/greetUserRequest"
				message="tns:greetUser"></input>
			<output
				wsam:Action="http://webservice.service.soap.com/MobileService/greetUserResponse"
				message="tns:greetUserResponse"></output>
		</operation>
	</portType>
	<binding name="MobilePortBinding" type="tns:MobileService">
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
		<operation name="throw">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
			<fault name="MobileSubscriptionException">
				<soap:fault name="MobileSubscriptionException"
					use="literal"></soap:fault>
			</fault>
		</operation>
		<operation name="createSubscriber">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
			<fault name="MobileSubscriptionException">
				<soap:fault name="MobileSubscriptionException"
					use="literal"></soap:fault>
			</fault>
		</operation>
		<operation name="createSubscriberSecure">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal" parts="parameters"></soap:body>
				<soap:header message="tns:createSubscriberSecure"
					part="Credentials" use="literal"></soap:header>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
			<fault name="MobileSubscriptionException">
				<soap:fault name="MobileSubscriptionException"
					use="literal"></soap:fault>
			</fault>
			<fault name="SecurityException">
				<soap:fault name="SecurityException" use="literal"></soap:fault>
			</fault>
		</operation>
		<operation name="getDummySubscriber">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getAllSubscribers">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="findSubscriber">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="getSecureToken">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal" parts="parameters"></soap:body>
				<soap:header message="tns:getSecureToken"
					part="username" use="literal"></soap:header>
				<soap:header message="tns:getSecureToken"
					part="password" use="literal"></soap:header>
			</input>
			<output>
				<soap:body use="literal" parts="result"></soap:body>
				<soap:header message="tns:getSecureTokenResponse"
					part="username" use="literal"></soap:header>
				<soap:header message="tns:getSecureTokenResponse"
					part="tokenvalue" use="literal"></soap:header>
			</output>
		</operation>
		<operation name="deleteSubscriber">
			<soap:operation soapAction="delete"></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="countAsync">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
		</operation>
		<operation name="greet">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
		<operation name="greetUser">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
	</binding>
	<service name="MobileWebService">
		<port name="MobilePort" binding="tns:MobilePortBinding">
			<soap:address
				location="http://localhost:10002/SoapWS/Core/Mobile"></soap:address>
		</port>
	</service>
</definitions>