soap-web-service/SOAPServer/src/Greetings.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.1 svn-revision#6ef5f7eb9a938dbc4562f25f8fa0b67cc4ff2dbb. -->
<xs:schema xmlns:tns="http://com.app.greetings/user" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://com.app.greetings/user">
	<xs:element name="SayHello" type="tns:SayHello"/>
	<xs:element name="SayHelloResponse" type="tns:SayHelloResponse"/>
	<xs:complexType name="SayHello">
		<xs:sequence>
			<xs:element name="user" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SayHelloResponse">
		<xs:sequence>
			<xs:element name="greetingMessage" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>